[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask_sqlalchemy = "*"
Jinja2 = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
